*{
    /* getting rid of additional height around elements for instance in logo */
    box-sizing: border-box;
}

/* ======================================NAVIGATION================================================= */

html, body {
    padding: 0px;
    /* adjusting for sticky footer */
    height: 100%;
    margin: 0px;
    background-color: #e6e3e3;
}

h1,h2,h3,h4,h5, h6 {
    /* font-family: 'Lora', serif; */
    font-family: 'Candal', sans-serif;
    color: #444;
    margin: 5px;
}
/* all anchor tags  */
a {
    text-decoration: none;
    color: inherit;
}
/* to clear float e.g in content section ... it gives it its bottom boarder alignment*/
.clearfix::after {
    content:'' ;
    display: block;
    clear: both;
}
/* search box */
.text-input {
    padding: .7rem 1rem;
    display: block;
    width: 100%;
    border-radius: 12px;
    outline: none;
    color: grey;
    font-size: .8em;
    line-height: 1.5rem;
    border: 1px solid lightgrey;
    font-family: 'Comfortaa', cursive;
    -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}
.btn-big {
    padding: .7rem 1.3rem;
    line-height: 1.3rem;
    margin-top: 10px;
}

.btn {
    padding: .5rem 1rem;
    background: #009677;
    color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.btn:hover {
    color: white !important;
    background: #016e58;
}

header{
    background:#009677 ;
    height: 66px;

}

/* "*" means every element in the header element below should be defined by the parameteres*/
header *{
    color: white; 
    /* above made Logo color and nav text WHITE*/

}
header .logo{
    float: left;
    /* border: 1px solid red; */
    /* above red is as a marker while styling Logo  */
    height: inherit;
    /* above inherit means it take hieght of Nav parent */
    margin-left: 2em;


}
header .logo-text{
    margin: 8px;
    font-family: 'Candal', sans-serif;
    
}


/* Google Fonts */
/* font-family: 'Abril Fatface', cursive;
font-family: 'Candal', sans-serif;
font-family: 'Comfortaa', cursive;
font-family: 'Lora', serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Satisfy', cursive; */


header .logo-text span {
    color:greenyellow;
    font-family: 'Quicksand', sans-serif;
}

/* Nav menu */
header ul{
    float: right;
    margin: 0px;
    padding: 0px; 
    list-style: none;
    /* border: solid red; */
}
/* list items in the ordered list */
header ul li {
    float: left;  
    position: relative; 
    /* to assume horizontal display  */

}
/* styling dropdown  */
header ul li ul {
    position: absolute;
    top: 66px;
    /* 66 is the actual height of the Nav bar */
    right: 0px;
    width: 180px;
    display: none;
    /* to fix the dropdown that is covered by d slidder */
    z-index: 88888;

}
/* dropdown display when >> */
header ul li:hover ul {
    display: block;
}


/* the list item of the dropdown */
header ul li ul li {
    width: 100%;
}

header ul li ul li a {
    padding: 10px;
    background: white;
    color: black;
}

/* drop down with class logout  */
header ul li ul li a.logout {
    color: red;
}

header ul li ul a:hover {
    /* color: dimgray; */
    background: darkgray;
    transition: 0.5s;
    
}


/* selectv all links in list elements */
header ul li a {
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}
header ul li a:hover {
    background: #016e58;
    transition: 0.5s;
}

/* take note of the css elements defined with "." and those that aren't  */
header .menu-toggle{
    display: none;
}
.page-wrapper {
    /* to push footer to bottom of page */
    min-height: 100%;

}

/* hover over the slider card text  */
.page-wrapper a:hover {
     color: rgb(0, 56, 0);
}


/* =================================Post Slider CAROSEL========================== */
.post-slider{
    
    position: relative;
}
.post-slider .slider-title {
    text-align: center;
    font-family: 'Candal', sans-serif;
    /* color for the trending post title  */
    color: rgb(105, 103, 103);
    
    margin: 30px auto;
}

.post-slider .next {
position: absolute;
top: 50%;
right: 20px;
font-size: 2em;
color: #006669;
cursor: pointer;
}
.post-slider .prev {
    position: absolute;
    top: 50%;
    left:20px;
    font-size: 2em;
    color: #006669;
    cursor: pointer;
    }

.post-slider .post-wrapper{
    
    overflow: hidden;
    width: 84%;
    height: 350px;
    padding: 10px 0px 10px 0px;
    margin: 0px auto;
}
.post-slider .post-wrapper .post {
    background: white;
    border-radius: 5px; 
    max-width: 100%;
    max-height: 100%;
    /* display horizontaly */
    display: inline-block;
    margin: 0px 10px;
    width: 300px;
    height: 330px;
    padding: 20px;
    box-shadow: 1rem 1rem 1rem -1rem #a0a0a033;

    -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}
/* the text info  */
.post-slider .post-wrapper .post .post-info {
    height: 130px;
   object-fit: cover;
    padding: 0px 10px;
    

}
.post-slider .post-wrapper .post .slider-image {
    
    object-fit: cover;
    /* background-size: cover; */
    width: 100%;
    height: 200px;
    
    /* height: 20vw; */
    
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
   

}
 
/* box-shadow 
 -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
*/


/* =================================CONTENT SECTION recent post ========================== */
.content {
    width: 90%;
    margin: 30px auto 30px;
   

}
.content .main-content {

    width: 70%;
    float: left;

    
}
/* single page image */
.content .main-content .single-page-img {
    object-fit: cover;
    width: 100%;
    height: 200px;
    
}
.single-comment-stmt {
    border-bottom: 1px solid darkgray;
    margin: 10px;
    padding-bottom: 10px;
}

/* single.html >>in same element thus no space btw the dot . */
.content .main-content.single {
    background: white;
    padding: 20px 50px;
    font-size: 1.1em;
    border-radius: 5px;
    /* justalittle box shadowing */
   
  /* background: #777; */
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
 
    /* end boxshadowing */

} 

.content .main-content .recent-post-title {
    margin: 20px;

}
.content .main-content .post {
    width: 95%;
    height: 270px;
    margin: 20px auto;
    border-radius: 2.5px;
    /* gives img start space  */
    padding-left: 10px;
    background: white;
    position: relative;

    -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}
.content .main-content .post .read-more {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border:1px solid #009677 ;
    background: transparent;
    border-radius: 0px;
    color: #009677 !important;
}
.content .main-content .post .read-more:hover {
    background: #009677;
    color: white !important;
    transition: .25s;
}

/* working on the post images to align to ui */
.content .main-content .post .post-image {
    /* width: 100%;
    height: auto; */ 
    /* the above makes img responsive */
    width: 40%;
    /* height:100%; */
    height: auto;
    float: left;
    border-radius: 5px;
    margin: 20px auto;
   
    
}
.content .main-content .post .post-preview {
    width: 60%;
    float: right;
    padding: 10px;


}

.content .sidebar {
    width: 30%;
    float: left;
    
    height: 300px;

}
/* single.html */
.content .sidebar.single {
    padding: 0px 10px;
}
.content .sidebar .section {
    background: white;
    padding:20px ;
    border-radius: 10px;
    margin-bottom: 20px;
}

.content .sidebar .section .section-title {
    margin: 10px 0px 10px 0px;
}

/* note no space btw section and search as seen below */
.content .sidebar .section.search {
    margin-top: 80px;
    border-radius: 2.5px;
    /* -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black; */
}
.content .sidebar .section.topics ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: 'Comfortaa', cursive;
    border-top: 1px solid lightgray;
}

.content .sidebar .section.topics ul li a {
    border-bottom: 1px solid lightgray;
    display: block;
    padding: 15px 0px 15px 0px;
    transition: all 0.3s;
}
.content .sidebar .section.topics ul li a:hover {
    padding-left: 10px;
    transition: all 0.3s;

}

/* =================Footer========================== */

.footer {
    background: #003133;
    color: #d3d3d3;
    height: 400px;
    position: relative;
    
}

.footer .footer-content {
    
    height: 350px;
    display: flex;

}

.footer .footer-content h1,
.footer .footer-content h2 {
    color: rgb(151, 151, 151);
}

.footer .footer-content .about p {
    font-family: 'Lora', serif;
    font-size: 14px;
    color: white;
}

.footer .footer-content .about .contact span {
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
}

.footer .footer-content .about .socials a {
    border: 1px solid gray;
    width: 35px;
    height: 31px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
    transition: all .3s;
    margin-bottom: 5px;
    -webkit-box-shadow: 0 8px 6px -6px darkgrey;
	   -moz-box-shadow: 0 8px 6px -6px darkgrey;
	        box-shadow: 0 8px 6px -6px darkgrey;
}
.footer .footer-content h1:hover {
    color: white;
    transition: all .3s;
}


.footer .footer-content .about .socials a:hover {
    border: 1px solid white;
    color: white;
    transition: all .3s;

}
.footer .footer-content .links ul a {
    border-bottom: 1px solid lightgray;
    display: block;
    margin: 10px;
    transition: all 0.3s;
    font-family: 'Lora', serif;
}
.footer .footer-content .links ul a:hover {
    color: white;
    margin-left: 15px;
    transition: all .3s;

}


.footer .footer-content .footer-section {
    flex: 1;
    padding: 25px;
    

}

.footer .footer-content .contact-form .contact-input {
margin-bottom:10px;
color: #222121;
background: white;
line-height: 1.5rem;
padding: .9rem 1.4rem;
border: none;
}
.footer .footer-content .contact-form .contact-input:focus {
    background: #ffffff;
}

.footer .footer-content .contact-form .contact-btn {
    float: right;
    font-size: .9em;
    font-family: 'Lora', serif;
}

.footer .footer-bottom {
    background: #006853;
    font-family: 'Lora', serif;
    color: white;
    height: 50px;
    width: 100%;
    font-size: 10px;
    position: absolute;
    text-align: center;
    /* to remain at the bootom */
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
    
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #02ac8a; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 12px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    transition: all 0.3s;
  }
  
  #myBtn:hover {
    background-color: #006669; /* Add a dark-grey background on hover */
    transition: 1.5s;
    transition: all 0.3s;
  }




















/* careful not to confuse this with header above  */
/*=============================Responsive MEDIA QUERY ==========================*/
/* define css media query */
@media only screen and (max-width:900px ){

    /* make menu item float to extreme right of page */
    header {
        position: relative;
    }
    

    header ul {

        width: 100%;
        background: #02ac8a;
        /* make the Nav hide when screen display hits 750px */
        max-height: 0px;
        overflow: hidden;
    }

    /* for the onclikc class attached to navigation menu */
    .showing {
        max-height: 100em;
    }

    /* to make all nav menu full width  */
    header ul li {
        width: 100%; 
    }
    /* for the dropdown to extend the width also  */

    header ul li ul {
        position: static;
        width: 100%;
        display: block;
    /* to make the logout and admin name clor not white but blend  */
        background: inherit;

    }

     
    header ul li ul li a {
    padding: 10px;
    background: #02ac8a;
    color: white;
    padding-left: 50px;
    }

    /* change background to dropdown on hover */
    header ul li ul li a:hover {
        background: #00886d ;
        
    }
    /* drop down with class logout  */
    header ul li ul li a.logout {
    color: red;
    }

    /* to display the Nav Menu Bar instead of full list  */
    header .menu-toggle{
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 1.9em;
    }

    /* reduce logo size */
    header .logo{
        
        margin-left: .5em;
    
    
    }
    header .logo-text{
       font-size: 1.5em;
        
    }
    
    
} 